html{
    font-size:1vw;
}
a.addspace{
    display: inline;
}
a.insta-link{
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
}
a.linkedin-link{
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
}
a.github-link{
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
}
a.project-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
div.center{
    margin-left:auto;
    margin-right:auto;
}
div.container{
    display:flex; 
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
}

div.edu_container{
    display:flex; 
    flex-direction: row;
    gap: 12.5rem;
    justify-content: center;
    align-items: center;
}
div.Education-texts{
    line-height: normal; 
    vertical-align: middle;
    text-align: center;
}
div.email_button{
    text-align:center;
}
div.new-part{
    padding-top: 30px;
}
div.new-section{
    padding-top: 60px;
}
div.projects{
    border: blanchedalmond;
    border-width:1px; 
    border-style:solid;
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    background: #aecffd;
}
div.name{
    padding-top: 10px;
}
div.school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.small-divide{
    padding-top:30px;
}
div.small-project-divide{
    padding-top:40px;
}
h1.name{
    font-size: 60px;
}

h3.Title{
    text-align: center;
    font-size: 40px;
}
h4.link{
    font-size: 25px;
}
.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.header_direct{
    width: 125px;
    text-align: center;
    text-decoration: none;
    color: #445f6e;
}

.header_links{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 30px;
}

.header_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons{
    gap: 8px;
}


img.Chip-8{
    width: 22rem;
    height: 21rem;
}
img.FHsecondary-photo{
    width: 22rem;
    height: 18rem;
    margin-left:auto;
    margin-right:auto;
}
img.octical-image{
    height: 21rem;
    width: 22rem;
}
img.Profile-image{
    display:block;
    margin-left:auto;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}
img.small-Profile-image{
    margin-left:10px;
    margin-right: 30px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
img.spotify-image{
    height: 21rem;
    width: 22rem;
}
img.Waterloo-logo{
    width: 22rem;
    height: 18rem;
}

p.Contests-description{
    font-family: 'Inter';
    font-size: 15px;
}
p.Contests-point{
    font-family: 'Open Sans';
    font-size: 20px;
}
p.Degree{
    font-size: 16px; 
}
p.Education{
    font-size: 20px;
}
p.Extra-curricular_point{
    font-family: 'Montserrat';
    font-size: 20px;
}
p.Extra-curricular_description{
    font-family: 'Inter';
    font-size: 15px;
}
p.Project_name{
    text-align: center;
    font-size: 24px;
    color: darkblue;
    padding-top: 20px;
}
section::after {
    content: "";
    display: block;
    clear: both;
}
section.About_Me{
    display: grid;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 10rem;
}
section.Achievements{
    padding-left: 5%;
}
section.Extra-curricular{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
section.math_club{
    display: grid;
    align-items:center;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 10rem;
}
section.words_worth{
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 0.6fr;
    column-gap: 10rem;
}
table.projects{
    margin: 1px auto;
    border-collapse: collapse;
    table-layout: fixed;
}
td.a_project {
    text-align: center;
    align-items: center;
    width: 600px;
}
#About_Me-description{
    font-size: 20px; 
    font-family: 'Roboto';
}
#About_Me-title{
    font-size: 40px;
    text-align: center;
}
#club_image{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#Email{
    width: 50%;
    height: 5rem;
}
